/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f3f7fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.employee-form label {
    display: block;
    margin-bottom: 15px;
    font-size: 1em;
    color: #555;
}

.employee-form input,
.employee-form select {
    width: 100%;
    padding: 8px 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fff;
    transition: border-color 0.2s;
}

.employee-form input:focus,
.employee-form select:focus {
    border-color: #007bff;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px 15px;
    margin-left: 2.5px;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: #0056b3;
}
