# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
static/

# Virtual environment
venv/
env/

# Python specific
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables file
.env

# VSCode
.vscode/

# PyCharm
.idea/

# Other files you might want to ignore
*.bak
*.swp
